
<grid-container>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <button>Centered Button</button>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <h2>Click to see them</h2>
            </div>
        </div>
    </div>
        <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <h2>Click to see them</h2>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <h2>Click to see them</h2>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <h2>Click to see them</h2>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <h2>Click to see them</h2>
            </div>
        </div>
    </div> 
</grid-container>
