grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 75px;
  grid-gap: 10px;
}

grid-item {
  display: flex;            /* new */
  align-items: center;      /* new */
  justify-content: center;  /* new */
}

/* can ignore styles below; decorative only */
grid-container {
  background-color: lightyellow;
  border: 1px solid #bbb;
  padding: 10px;
}
grid-item {
  background-color: lightgreen;
  border: 1px solid #ccc;
}

<grid-container>
    <grid-item>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2>Recommendations</h2>
                </div>
                <div class="flip-box-back">
                    <h2>Click to see them</h2>
                </div>
            </div>
        </div>
    </grid-item>
    <grid-item>
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Recommendations</h2>
            </div>
            <div class="flip-box-back">
                <h2>Click to see them</h2>
            </div>
        </div>
    </grid-item>
</grid-container>
