
<grid-container>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Staff Software Engineer at Google (USA) </h1>
            </div>
            <div class="flip-box-back">
               <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">Testing</span></a>                
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Solution Architect at Amazon Web Services (Germany)</h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div>
        <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Business Manager at HCL Technologies (India)</h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">PremiumSenior Manager at Ernst & Young (France) </h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Founder of Performoo (India) </h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>iv>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Senior Manager at HCL Technologies (India) </h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Assistant Vice President at Credit Suisse (USA) </h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div> 
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Assoc. Director at Astellas Pharma US</h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h1 style="font-weight: bold">Sr.Executive at Boxtrans Logistics( India)</h1>
            </div>
            <div class="flip-box-back">
                <div><strong>This is some text to test the text</strong></div>
                <div style="display:flex; justify-content:center"><button style="justify-content:space-between;flex-direction:column;height:4vh;display:flex;">Centered Button</button></div>
            </div>
        </div>
    </div> 
</grid-container>
