<div style="height: 100vh;">
  <div id="inSlider" style="height: 100%;background: #65CCB8;">
    <div style="display: flex;flex-direction: column;justify-content: center;height: 100.7rem;padding: 0px 6.5rem;max-width: 128rem;">
      <h1 style="color: black;font-size: 6.5em;margin: 2rem 0px 0px;font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight: 700;">        
        <span style="transform: translate(0px, 0px); opacity: 1;">
          <span class="dynamicIntro" style="transform: translate(0px, 0px); opacity: 1;">F</span>
          <span class="dynamicIntro" style="transform: translate(0px, 0px); opacity: 1;">u</span>
          <span class="dynamicIntro" style="transform: translate(0px, 0px); opacity: 1;">l</span>
          <span class="dynamicIntro" style="transform: translate(0px, 0px); opacity: 1;">l</span>
          <span class="dynamicIntro" style="transform: translate(0px, 0px); opacity: 1;">-</span>
          <span class="dynIF" style="transform: translate(5%, 0px);">stack developer</span>
        </span>
        <span style="animation: 4s ease-out 1s 1 sk-rotateFirstAndLast">, creative designer</span>
        <span class="introD" style="transform: translate(0px, 0px);opacity: 1;">& aspiring architect</span>        
      </h1>
    </div>
  </div>
</div>
