<div style="height: 100vh;">
  <div id="inSlider" style="height: 100%;background: #65CCB8;">
    <!-- <div class="front"> -->
    <div >
      <!-- <h1 style="color: black;font-size: 3.2rem;margin: 2rem 0px 0px;font-family: Vesterbro,Times,serif;font-weight: 700;line-height:1.3">-->        
      <h1 class="front">        
        <span class="introD" style="animation: 0.5s ease-out 0s 1 k-rotateFirst;">
          <span class="dynamicIntro" style="animation: 4s ease-out 0s 1 k-rotateFirstDynamic;">F</span>
          <span class="dynamicIntro" style="animation: 4.2s ease-out 0s 1 k-rotateFirstDynamic;margin-left:-5px;">u</span>
          <span class="dynamicIntro" style="animation: 4.4s ease-out 0s 1 k-rotateFirstDynamic;margin-left:-5px;">l</span>
          <span class="dynamicIntro" style="animation: 4.6s ease-out 0s 1 k-rotateFirstDynamic;margin-left:-5px;">l</span>
          <span class="dynamicIntro" style="animation: 4.8s ease-out 0s 1 k-rotateFirstDynamic;margin-left:-5px;">-</span>
          <span class="dynIF" style="animation: 4s ease-out 0s 1 k-rotateFirstStatic;">stack developer,</span>
        </span>
        <span class="introD" style="animation: 0.5s ease-out 0s 1 k-rotateSecond;">aspiring architect &</span>
        <span class="introD" style="animation: 2s ease-out 0s 1 k-rotateThird;">creative designer</span>
      </h1>
    </div>
  </div>
</div>
