<div style="height: 100vh;">
  <div id="inSlider" style="height: 100%;background: #65CCB8;">
    <div>
      <h1>
        <span style="transform: translate(0px, 0px); opacity: 1;">Hi. I am Prashant Batra.</span>
        <span style="transform: translate(0px, 0px); opacity: 1;">
          <span style="transform: translate(0px, 0px); opacity: 1;">F</span>
          <span class="sc-1ip5fnl-4 cmxBQw" style="transform: translate(0px, 0px); opacity: 1;">u</span>
          <span class="sc-1ip5fnl-4 cmxBQw" style="transform: translate(0px, 0px); opacity: 1;">l</span>
          <span class="sc-1ip5fnl-4 cmxBQw" style="transform: translate(0px, 0px); opacity: 1;">l</span>
          <span class="sc-1ip5fnl-4 cmxBQw" style="transform: translate(0px, 0px); opacity: 1;">-</span>
          <span class="sc-1ip5fnl-3 qtRDv" style="transform: translate(5%, 0px);">stack</span>
        </span>
        <span class="sc-1ip5fnl-2 bRfIZm" style="transform: translate(0px, 0px); opacity: 1;">developer</span>
      </h1>
    </div>
  </div>
</div>
